.metadata/
/**/RemoteSystemsTempFiles/
/**/Debug/
/**/Release/
/**/.settings/



.metadata/.plugins/org.eclipse.cdt.core/.log
*.log
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
*.xmi
*.xmi